* {
    background-color: rgb(255, 217, 0);
}
.par {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
.par.desc {
    color: rgb(124, 69, 1);
}
.time {
    font-weight: 700;
}
li {
    color: brown;
    font-weight: 900;
}
.step {
    font-weight: bold;
}
.button {
    background-color: brown;
    height: 24px;
    width: 200px;
}
.header-two {
    background-color: rgb(255, 174, 0);
    padding: 20px;
    border: 10px solid rgb(236, 56, 56);
    margin-left: 50px;
    height: auto;
    width: fit-content;
    box-sizing: border-box;
}


#mainimg {
    margin-left: 50px;
}
.link,
button {
  width: fit-content;
  background-color: brown;
}
.link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}