* {
    background-color: rgb(255, 217, 0);
}
.par {
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
.par.desc {
    color: rgb(124, 69, 1);
}
.time {
    font-weight: 700;
}
li {
    color: brown;
    font-weight: 900;
}
.step {
    font-weight: bold;
}
.button {
    background-color: brown;
    height: 24px;
    width: 200px;
}
.header-two {
    background-color: rgb(255, 174, 0);
    padding: 30px;
    border: 20px solid rgb(236, 56, 56);
    margin: 50px;
    width: 50px;
    height: auto;
    padding-left: 200px;
    padding-right: 200px;
}

.mainimg {
    margin-left: 50px;
}