#title {
    text-align: center;
    background-color: rgb(255, 174, 0);
    padding: 10px;
    border: 10px solid rgb(236, 56, 56);
    width: fit-content;

}
.recipe {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.recipe,
button {
  width: fit-content;
    background-color: brown;
}    
* {
    background-color: rgb(255, 217, 0);
}    
html {
    display: border-box;
}